# ======================
# Node (React / Vite)
# ======================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Build output
# ======================
wwwroot/

# ======================
# .NET build
# ======================
bin/
obj/
.vs/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Environment files
# ======================
.env
.env.*

# ======================
# Visual Studio Code
# ======================
.vscode/
