#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #000; /* black  matrix */
    color: #00ff88; /* green hacker */
}

h1, h4 {
    line-height: 1.3;
}

h1, h2, h3, h4 {
    color: #00ff88;
    text-shadow: 0 0 5px #00ff88, 0 0 10px #00ff88;
}


@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

.matrix-text {
    animation: flicker 2s infinite;
}

.banner-img {
    width: 50%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    /* animaciones combinadas */
    animation: fadeZoom 1.5s ease-in-out forwards, pulse 3s infinite ease-in-out 1.5s, flicker 2s infinite 1.5s;
    transition: transform 0.4s ease;
    box-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88, 0 0 40px rgba(0, 255, 136, 0.5);
}





/* zoom inicial */
@keyframes fadeZoom {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* respiración suave */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

/* titilado tipo matrix */
@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 1;
    }
}
